<section class="h-100 login">
  <div class="h-100 container">
      <div class="h-100 row  d-flex align-items-center justify-content-center ">

          <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 flex-column mx-auto">
              <h1 class="w-100 txt-white bold d-block text-center mb-4">Welcome to LUDO</h1>
              <form class="needs-validation" [formGroup]="verifyEmailForm">
                  <div class="w-100 login-outer p-4 mb-3">
                      <h3 class="text-center semibold txt-white pb-4">Verify UserName</h3>

                      <div class="d-flex flex-column input-group mb-3">
                          <!-- <span class="input-group-text" style="background-color: #e9ecef;">+91</span> -->
                          <input type="text" class="rounded w-100 form-control fs-14" placeholder="Enter UserName"
                              formControlName="userName" aria-label="Mobile Number" aria-describedby="basic-addon1"
                              required>
                              <div>
                          <span class="text-danger" *ngIf="
                              verifyEmailForm.controls.userName?.touched &&
                              verifyEmailForm.controls.userName?.errors?.['required']">
                              Please enter userName
                          </span>
                          <span class="text-danger" *ngIf="
                              verifyEmailForm.controls.userName?.touched &&
                              verifyEmailForm.controls.userName?.errors?.['pattern']">
                              Please enter valid userName
                          </span>
                        </div>
                      </div>
                      <button type="button" (click)="verifyEmail()"
                          class="w-100 fs-16 txt-white btn btn-danger py-2 h-3 mb-3">Verify User</button>
                          <p class="text-center txt-white">Back To ? <a [routerLink]="['/login']">Login</a></p>
                  </div>
              </form>

              <p class="txt-white text-center fs-12">By proceeding, you agree to our <a> Terms of Use</a>, <a>Privacy
                      Policy</a> and that you are 18 years or older. You are not playing from Assam, Odisha, Nagaland,
                  Sikkim, Meghalaya, Andhra Pradesh, or Telangana.</p>
          </div>
      </div>
  </div>
</section>
