<div class="row">
  <div class="col-12 d-flex align-items-center justify-content-center flex-column m-2 p-2">
    <div class="d-flex justify-content-center w-50 fs-14 input-group mb-3">
    </div>
  </div>
  <form [formGroup]="wonForm" (ngSubmit)="submitForm()">

    <input type="file" name="files[]" id="fileInput" (change)="addFiles($event)" accept=".jpeg, .jpg, .png">

    <div class="col-12 d-flex justify-content-between">
      <button type="button" class="btn btn-danger m-1" (click)="closePopUp()">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary m-1">
        Submit
      </button>
    </div>
  </form>
</div>