<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <div class="icon-size d-flex align-items-center bg-primary rounded-circle me-2">
                        <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trophy-variant</title><path d="M17 4V2H7V4H2V11C2 12.1 2.9 13 4 13H7.1C7.5 14.96 9.04 16.5 11 16.9V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V16.9C14.96 16.5 16.5 14.96 16.9 13H20C21.1 13 22 12.1 22 11V4H17M4 11V6H7V11L4 11M20 11L17 11V6H20L20 11Z" fill="#fff" /></svg>
                    </div>
                    <p class="fs-20 semibold mb-0">Ludo Rules</p>
                </span>
            </div>
        </div>
        <div class="col-12">
            <ol>
                <li class="py-2">Game will be conducted between 2 players.</li>
                <li class="py-2">No bonus move on finish token as there is no finishing track in "ApnaLudo Ludo".</li>
                <li class="py-2">You will get "SIX" on dice roll, if your dice roll not got "SIX" for consecutive 10 turns.</li>
                <li class="py-2">For every turn in game, user have 30 seconds to play move, else your token will get moved automatically. </li>
                <li class="py-2">On disconnect/leaving from game, your turn will be automatically played for max 5 times.</li>
                <li class="py-2">On sixth (6th) miss/timeout move, player will be considered as looser.</li>
                <li class="py-2">If all your tokens are at home and your opponent get disconnected, game will be considered as "cancelled".</li>
                <li class="py-2">If your opponent leaves/disconnect from game at starting or middle of game, result will be declared as 100% win.</li>
                <li class="py-2">A player must have to record every game, and if any player is hacking or cheating in a game, please contact support with video proof.</li>
                <li class="py-2">If you don't have any proof against player cheating and error in the game, then you will be considered as lost for a particular battle.</li>
                <li class="py-2">Automatic exit or left गेम में गोटी ओपन होने पर एडमिन अपने विवेक से गेम celer करेगा। धन्यवाद।🙏🏼</li>
                <li class="py-2">OTP किसी को ना दे ॥ हमारी टीम किसी से किसी भी काम के लिये OTP नहीं लेती है । यदि आप किसी को OTP देते है तो उसके ज़िम्मेदार आप स्वयं होंगे।</li>
            </ol>
        </div>
    </div>
</div>