<div class="container">
    <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  cursor-pointer">
                <div class="d-flex align-items-center fs-16 border rounded bg-white p-3 mb-3" style="height: 4rem;">
                    <div class="py-2" routerLink="/home/transition-history">
                        <svg class="me-3" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" fill="#6c757d"/></svg>
                        Order History
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                        <div class="card-outer rounded p-3">
                            <div class="d-flex align-items-center mb-4">
                                <div class="text-white">
                                    <p class="d-flex align-items-center fs-18 bold mb-0"><img  src="../../../../assets/img/money.png" height="20px" width="20px" alt="money" class="me-1">Rs. {{ totalAmount || '0'}}</p>
                                    <p class="fs-14 semibold">DEPOSIT CASH</p>
                                </div>

                                <a  class="btn btn-outline-secondary border-white text-uppercase fs-12 py-1 semibold  ms-auto"  routerLink="/home/add-wallet"> Add Cash</a>

                            </div>
                            <div class="mb-3">
                                <p class="fs-14 text-white mb-0">Can be used to play Tournaments & Battles.</p>
                                <p  class="fs-14  text-white mb-0">Cannot be withdrawn to Paytm or Bank.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                        <div class="card-outer rounded p-3">
                            <div class="d-flex align-items-center mb-4">
                                <div class="text-white">
                                    <p class="d-flex align-items-center fs-18 bold mb-0"><img  src="../../../../assets/img/money.png" height="20px" width="20px" alt="money" class="me-1"> 0.00</p>
                                    <p class="fs-14 semibold">WINNINGS CASH</p>
                                </div>
                                <a  class="btn btn-outline-secondary border-white text-uppercase fs-12 py-1 semibold  ms-auto"  routerLink="/home/add-withdraw"> Withdraw</a>
                            </div>
                            <div class="mb-3">
                                <p class="fs-14 text-white mb-0">Can be withdrawn to Paytm or Bank. Can be used to play Tournaments & Battles.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
