<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12 mb-4 py-4 shadow border rounded px-4">
            <!-- <div class="row">
                <div class="col-12">
                    <h4 class="text-center bold mb-4">Contact Us</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <p class="fs-16 mb-1">First Name</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-0 fs-14" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                      </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <p class="fs-16 mb-1">Last Name</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-0 fs-14" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1">
                      </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <p class="fs-16 mb-1">Email</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-0 fs-14" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                      </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <p class="fs-16 mb-1">Mobile Number</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control border-0 fs-14" placeholder="Mobile Number" aria-label="Mobile Number" aria-describedby="basic-addon1">
                      </div>
                </div>
                <div class="col-12">
                    <p class="fs-16 mb-1">Message</p>
                    <div class="input-group mb-3">
                        <textarea class="form-control fs-14" placeholder="Message" id="floatingTextarea2" style="height: 100px"></textarea>
                        <input type="text" class="form-control border-0" placeholder="Message" aria-label="Message" aria-describedby="basic-addon1">
                      </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button  class="btn btn-primary fs-18 py-3 text-uppercase semibold px-5"> Submit</button>
                </div>
            </div> -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <h4 class="text-center bold mb-4">Contact Us</h4>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  mb-4">
                   <div class="d-flex align-items-center bg-fb border social-list p-3 rounded cursor-pointer" (click)="openEmail()">
                    <img height="24px" width="24px" class="me-4" src="../../../../assets/img/gmail.png" alt="gmail">
                    Email
                   </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  mb-4">
                    <div class="d-flex align-items-center bg-fb border social-list p-3 rounded cursor-pointer" (click)="openWhatsApp()">
                     <img height="24px" width="24px" class="me-4" src="../../../../assets/img/whatsapp.png" alt="whatsapp">
                     WhatsApp
                    </div>
                 </div>
                 <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  mb-4">
                    <div class="d-flex align-items-center bg-fb border social-list p-3 rounded cursor-pointer" (click)="openTelegram()">
                        <img height="24px" width="24px" class="me-4" src="../../../../assets/img/telegram.png" alt="telegram">
                     Telegram
                    </div>
                 </div>
                 <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12  mb-4">
                    <div class="d-flex align-items-center bg-fb border social-list p-3 rounded cursor-pointer" (click)="openInstagram()">
                        <img height="24px" width="24px" class="me-4" src="../../../../assets/img/instagram.png" alt="instagram">
                     Instragram
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
