<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <!-- <div class="icon-size d-flex align-items-center bg-primary rounded-circle me-2">
                        <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trophy-variant</title><path d="M17 4V2H7V4H2V11C2 12.1 2.9 13 4 13H7.1C7.5 14.96 9.04 16.5 11 16.9V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V16.9C14.96 16.5 16.5 14.96 16.9 13H20C21.1 13 22 12.1 22 11V4H17M4 11V6H7V11L4 11M20 11L17 11V6H20L20 11Z" fill="#fff" /></svg>
                    </div> -->
                    <p class="fs-20 semibold mb-0">Terms & conditions</p>
                </span>
            </div>
        </div>
        <div class="col-12 fs-14 px-4">
            <p class="fs-16 mb-1 bold opacity-8 mb-3">THE TERMS</p>
            <ul>
                <li class="fs-16 mb-1 mb-3">
                    These terms and conditions ("Terms", "Agreement") are an agreement between you ("User", "Player",
                    "You") and Mega Ludo Company We governing your use of the Ludo game.
                    By accessing and playing the Game, you agree to be bound by these Terms. If you disagree with any
                    part of the terms, you may not access the Game.

                </li>
                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> LICENSE :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">Subject to these Terms, We grant you a personal, non-exclusive,
                            non-transferable, limited license to download, install, and use the Game for your personal
                            entertainment purposes only.
                        </li>
                        <li class="fs-16 mb-1 mb-3">
                            You may not sublicense, sell, distribute, or otherwise transfer the Game or any copies
                            of it to any third party.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> RULES OF THE GAME :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">You agree to abide by the rules of the Ludo game as defined within
                            the Game
                        </li>
                        <li class="fs-16 mb-1 mb-3">
                            We reserve the right to update, modify, or change the rules of the Game at any time without
                            prior notice.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> USER ACCOUNTS :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">In order to play the Game, you may be required to create a user
                            account.
                            You are responsible for maintaining the confidentiality of your account and password and for
                            restricting access to your computer or mobile device.

                        </li>
                        <li class="fs-16 mb-1 mb-3">
                            You agree to accept responsibility for all activities that occur under your account or
                            password.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> PRIVACY :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">We respect your privacy and are committed to protecting it. Our
                            Privacy Policy governs the collection and use of your personal information. By using the
                            Game, you consent to the terms of our Privacy Policy.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> INTELLECTUAL PROPERTY :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">The Game and its original content, features, and functionality are
                            and will remain the exclusive property of Mega Ludo] and its licensors.
                            You may not modify, adapt, translate, reverse engineer, decompile, disassemble, or create
                            derivative works based on the Game or any part thereof.

                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> LIMITATION OF LIABILITY :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">To the fullest extent permitted by applicable law, in no event shall
                            [Your Company Name] be liable for any indirect, incidental, special, consequential, or
                            punitive damages, or any loss of profits or revenues, whether incurred directly or
                            indirectly, or any loss of data, use, goodwill, or other intangible losses, arising out of
                            your access to, use of, or inability to access or use the Game.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> TERMINATION :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">We may terminate or suspend your access to the Game immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms. Upon termination, your right to use the Game will immediately cease.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> GOVERNING LAW :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">These Terms shall be governed and construed in accordance with the laws of Mega Ludo, without regard to its conflict of law provisions.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> CHANGES TO THESE TERMS :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                        </li>
                    </ul>
                </li>

                <li class="fs-16 mb-1 mb-3">
                    <span class="fs-16 bold mb-1 mb-3"> CONTACT US :</span>
                    <ul class="text-lowercase">
                        <li class="fs-16 mb-1 mb-3">f you have any questions about these Terms, please contact us at [Your Contact Information].
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>