<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <!-- <div class="icon-size d-flex align-items-center bg-primary rounded-circle me-2">
                        <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trophy-variant</title><path d="M17 4V2H7V4H2V11C2 12.1 2.9 13 4 13H7.1C7.5 14.96 9.04 16.5 11 16.9V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V16.9C14.96 16.5 16.5 14.96 16.9 13H20C21.1 13 22 12.1 22 11V4H17M4 11V6H7V11L4 11M20 11L17 11V6H20L20 11Z" fill="#fff" /></svg>
                    </div> -->
                    <p class="fs-20 semibold mb-0">About Us</p>
                </span>
            </div>
        </div>
        <div class="col-12 fs-14 px-4">
            <!-- <p class="fs-14 mb-1 opacity-8">Ludo is a real-money gaming product owned and operated by ("Ludo" or "We" or "Us" or "Our").</p>
            <p class="fs-14 semibold opacity-8"><span>Matru Play Services Private Limited</span>
            <span>116, Siyaram Nagar, Budhsinghpura, Sanganer, Jaipur, Rajasthan, 302033.</span></p>

            <p class="fs-16 mb-1 bold opacity-8 mb-3">Our Business & Products</p>
            <p class="fs-14 mb-1 opacity-8">We are an HTML5 game-publishing company and our mission is to make accessing games fast and easy by removing the friction of app-installs.</p>
            <p class="fs-14 mb-1 opacity-8 mb-4">ApnaLudo is a skill-based real-money gaming platform accessible only for our users in India. It is accessible on https://www.apnaludo.com. On ApnaLudo, users can compete for real cash in Tournaments and Battles. They can encash their winnings via popular options such as Paytm Wallet, Amazon Pay, Bank Transfer, Mobile Recharges etc.</p>

            <p class="fs-16 mb-1 bold opacity-8 mb-3">Our Games</p> -->
            <p class="fs-14 mb-1 opacity-8 mb-3">At Mega Ludo, we believe that there’s more to fantasy Ludo, hence we created a <span style="font-weight: bold;">MORE</span> rewarding and experiential platform where everybody wins. We are obsessively passionate about it and it’s our aim to help gamers, be it a rookie or a professional, learn and earn their way to winnings, as well as be thoroughly entertained.</p>
            <p class="fs-14 mb-1 opacity-8">Our motto is to give you an experience like no other, from the moment you step into our fantasy world and until you start winning for REAL! Wishing you a great time and may you be best team owners!</p>
        </div>
    </div>
</div>