<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 mb-4">
        <div class="text-center">
          <p class="fs-22 text-primary semibold mb-0">Avaliable Balance</p>
          <p class="mb-0 semibold fs-18">2.00</p>
        </div>
      </div>
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 mb-5">
            <div class="table-responsive">
                <table class="table border  fs-14">
                <thead>
                    <tr>
                        <th scope="col" class="text-center fs-16 py-3 bg-g-primary"  colspan="4">Wallet History</th>
                    </tr>
                  <tr class="bg-fb">
                    <th  class="bg-fb" scope="col">SR No.</th>
                    <th  class="bg-fb" scope="col">Amount</th>
                    <th  class="bg-fb" scope="col">Status</th>
                    <th class="bg-fb" scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>40.00</td>
                    <td>Pending</td>
                    <td>20-2-2024</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>40.00</td>
                    <td>Pending</td>
                    <td>20-2-2024</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>40.00</td>
                    <td>Pending</td>
                    <td>20-2-2024</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 mb-5">
            <div class="table-responsive">
                <table class="table border  fs-14">
                <thead>
                    <tr>
                        <th scope="col" class="text-center fs-16 py-3 bg-g-primary"  colspan="4">Widthdraw History</th>
                    </tr>
                  <tr>
                    <th scope="col">SR No.</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>40.00</td>
                    <td>Pending</td>
                    <td>20-2-2024</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>40.00</td>
                    <td>Pending</td>
                    <td>20-2-2024</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>40.00</td>
                    <td>Pending</td>
                    <td>20-2-2024</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
