<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <!-- <div class="icon-size d-flex align-items-center bg-primary rounded-circle me-2">
                        <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trophy-variant</title><path d="M17 4V2H7V4H2V11C2 12.1 2.9 13 4 13H7.1C7.5 14.96 9.04 16.5 11 16.9V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V16.9C14.96 16.5 16.5 14.96 16.9 13H20C21.1 13 22 12.1 22 11V4H17M4 11V6H7V11L4 11M20 11L17 11V6H20L20 11Z" fill="#fff" /></svg>
                    </div> -->
                    <p class="fs-20 semibold mb-0">Privacy Policy</p>
                </span>
            </div>
        </div>
        <div class="col-12 fs-14 px-4">
            <p class="fs-18 mb-1 bold opacity-8 mb-2">Introduction</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">Mega Ludo (“GamesKraft”, or “We” or “Our” or “us”) operates the Gamezy
                platform “(Platform)”, which enables users in select States of India (“Users”, or “you”) and its
                grammatical variations) to access and participate in a wide variety of online skill-based games, such as
                online board games, card games, and sports-based fantasy games.
                This policy (“Privacy Policy”) forms an integral part of the Terms of Service between GamesKraft and
                Users, and governs how GamesKraft collects, uses, shares, and protects the personal information
                disclosed by users in the course of their usage of the Platform. Accordingly, you are advised to read
                this Privacy Policy carefully before accessing the Platform.
            </p>

            <p class="fs-18 mb-1 bold opacity-8 mb-2">The Information collected :</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">We may collect the following types of information:</p>
            <ul>
                <li class="fs-14 mb-1 opacity-8 mb-3">nformation you provide: when you register on the Platform, you
                    will be required to provide us with your name, email address, mobile number, display picture, social
                    media account ID (where submitted by you), and other relevant profile information. Additionally, you
                    will be required to provide your bank account details when you make use of the add cash or cash
                    withdrawal options for cash Games, and your Permanent Account Number (PAN) when you use the cash
                    withdrawal option. In some cases, such as referral programs or team play options, you may provide us
                    with personal information of another person</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Transaction details initiated by you: When you initiate a cash
                    transaction in relation to your Gamezy Account, we receive and store details pertaining to such
                    transaction, including the payment method used, the amount added to the Gamezy Account, and the date
                    and time of the transaction.</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Interaction information: When you interact with the GamesKraft
                    customer support telephonically, such telephonic interactions may be recorded and stored.
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Technical information about you: - We automatically collect
                    certain information from you when you use the Platform, including your IP address, location, other
                    unique device identifiers, your browser type, language, the URL of the website which you may have
                    used to reach our Platform, and cookies (defined below).
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Usage information: When you play any game offered by us on the
                    Platform, including any formats of such games, such as tournaments, promotional games, practice
                    games, and cash games (together, “Games”) on our Platform, we collect details related to the manner
                    of your use of and interaction with our Platform and other Users such as the date and time during
                    which you accessed the Platform, location from where you access the Platform, the amount of money
                    spent on each Game you participate in, the duration for which you play any Game, and the formats of
                    Game you participate in.</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Messages. When you use our Platform to communicate, we receive and
                    collect the messages you may send or receive on the Platform, and any other content you may upload
                    or share on the Platform.</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Cookies: We use cookies, small text files that uniquely identify
                    your browser and enable Us to recognize the information you have consented to give us, to store
                    certain types of information each time you visit any page on our Platform. These cookies do not
                    contain any personal information and you may choose what cookies you allow by managing your cookies
                    settings on your browser. This will allow you to delete your browser cookies or disable them
                    entirely, however, if you choose to disable all cookies, it will affect your overall experience with
                    our Platform— it may make parts of our Platform non-functional or inaccessible to you in such cases.
                    Therefore, we recommend that you enable cookies for our Platform. The cookies we collect are mainly
                    used to serve advertising banners to you and in doing so we may use the services of third parties.
                    Such third-party service providers do not know the name, phone number, address, email address, or
                    any personal information about you, and no personal information is collected or used in this
                    process.</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Web beacons: We use web beacons, images that are part of the web
                    pages, also called pixel tags or clear gifs, in combination with cookies to understand how you
                    interact with our Platform and the content therein. When you disable cookies, web beacons are also
                    likely to become ineffective. You can also add browser extensions to specifically block web beacons.
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Some of the information that we require you to provide on first
                    accessing or registering on the Platform is mandatory and/or essential to the provision of our
                    services to you, and hence if you do not provide such mandatory information, you may not be able to
                    access some of the features of the Platform.

                </li>

            </ul>
            <p class="fs-18 mb-1 bold opacity-8 mb-2">How we use your information</p>
            <p class="fs-14 mb-1 opacity-8 mb-3"> In addition to the uses of information we describe elsewhere in this
                Privacy Policy, we use your information to do the following:
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">enable your access and use of the Platform;
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">process cash transactions to your Gamezy Account, and enable
                Withdrawals;
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">facilitate your participation in various types of Games and events on
                the Platform;
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">send you GamesKraft Service-related emails and communications,
                including notifications about changes to our policies or Services;
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">market our Services or products or services of our group companies,
                affiliates and subsidiaries to You.
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">handle support requests, including investigating a transaction or
                issuing a refund;
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">perform internal operations such as troubleshooting, data analysis,
                testing, research, statistical, internal training, and quality management purposes aimed at improving
                the Platform, enhancing future game developments, and making advertisements more relevant. Such analysis
                is aggregated and does not pertain to any specific User.
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">Verification of users and their accounts;
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">measure and understand the effectiveness of the promotions, and
                advertisements we serve to you and others;
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">personalise the Platform for you, including the promotions and
                advertisements that may be served to you;
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">provide you with user support; and
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">enforce our Platform Policies.
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">Where you use our referral program, we use ?
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3">our name/email address in the heads of the email/SMS sent to the person
                referred; and
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">the name, mobile number, and email address of the person referred, to
                communicate with them.
            </p>
            <p class="fs-14 mb-1 opacity-8 mb-3"> Optional use: We may use your personal information for the purpose of
                testimonials and other promotions.
            </p>


            <p class="fs-18 mb-1 bold opacity-8 mb-2">How we store your information :</p>
            <ul>
                <li class="fs-14 mb-1 opacity-8 mb-3"> The information collected by us from users of the Platform is
                    securely stored and processed on servers located in India.</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Transaction details initiated by you: When you initiate a cash
                    transaction in relation to your Gamezy Account, we receive and store details pertaining to such
                    transaction, including the payment method used, the amount added to the Gamezy Account, and the date
                    and time of the transaction.</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Some of our affiliates and/or Service Providers may store or
                    process information in jurisdictions other than India.
                </li>
            </ul>

            <p class="fs-18 mb-1 bold opacity-8 mb-2">How we share your information :</p>
            <p class="fs-14 mb-1 opacity-8 mb-3"> We may share your information with various third parties who assist us
                in providing you with our Services, including the following:
            </p>
            <ul>
                <li class="fs-14 mb-1 opacity-8 mb-3"> Service providers, such as information technology and payment
                    service providers, whose services form a part of or are necessary for the provision of our Services;
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Advertisers and advertising networks that require the information
                    to select and serve advertisements to you and other users;</li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Cloud storage providers to store the information you provide and
                    for disaster recovery services, as well as for the performance of any contract we enter into with
                    you;
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Analytics and search engine providers that assist us in the
                    optimisation and improvement of the Platform; and
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Entities that provide us with marketing assistance;
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">Entities that provide us with customer support services.
                </li>
            </ul>

            <p class="fs-14 mb-1 opacity-8 mb-3"> We may share your information with subsidiaries, affiliates and group
                companies of Gameskraft that aid us in the provision of our Services and the functioning of the
                Platform. We may also share your information with subsidiaries, affiliates and group companies of
                Gameskraft for our internal business purposes including without limitation data analysis.
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3"> We may share your information with law enforcement agencies, public
                authorities, or other organizations if legally required to do so, or if such use is reasonably necessary
                to:
            </p>

            <ul>
                <li class="fs-14 mb-1 opacity-8 mb-3"> comply with any legal obligation, process, or request from
                    government or judicial authorities;
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">enforce our Platform Policies, including investigation of any
                    potential violation thereof;
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">detect, prevent, or otherwise address security, fraud, or
                    technical issues; or
                </li>

                <li class="fs-14 mb-1 opacity-8 mb-3">protect the rights, property or safety of us, our users, a third
                    party or the public as required or permitted by law (including exchanging information with other
                    companies and organisations for the purposes of fraud protection).
                </li>
            </ul>

            <p class="fs-14 mb-1 opacity-8 mb-3"> The service providers we engage are bound by data processing
                agreements that require them to take sufficient technical and organizational measures to safeguard your
                information.
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">4.5 If we sell or otherwise transfer our business, or our assets, in full or part, to another organization (e.g., in the course of a transaction like a merger, acquisition, bankruptcy, dissolution, or liquidation), your information may be among the items sold or transferred. The buyer or transferee would be obligated to honour the commitments made in this Privacy Policy.
            </p>

            <p class="fs-18 bold mb-1 opacity-8 mb-3">How long we retain your information
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">We retain your information for as long as is necessary to provide you with our Services; thereafter, we may retain your information to comply with our legal obligations, resolve disputes and enforce our agreements, and to protect Gameskraft’s legal rights, subject to limitations under applicable law.
            </p>

            <p class="fs-18 bold mb-1 opacity-8 mb-3">Your rights and preferences
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">Access and Updation: You may access and update the personal information that you have provided to us by logging into your Gamezy Account, and using the options available therein, though this may be restricted in instances where you are not able to verify your identity or there is any suspicious activity associated with your account.
            </p>

            <p class="fs-14  mb-1 opacity-8 mb-3">Withdrawal from providing information: You have the right to withdraw or decline your consent to the collection of any information you provide us at any time by writing to us at support@gamezy.com. Please note, this may affect your usage and access to our Platform.
            </p>

            <p class="fs-14  mb-1 opacity-8 mb-3">Communications Opt-Outs: You can opt-out of marketing or advertising emails by sending an email to Email……………………
            </p>

            <p class="fs-18 bold  mb-1 opacity-8 mb-3">Security and protection of your information
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3"> We use industry standard and legally mandated safeguards to keep the information collected by us secure. These measures include periodic reviews of our data collection practices, storage and processing practices, cyber security measures such as encryption, and physical security measures to guard against unauthorized access to systems where we store Users’ personal information. We have a comprehensive information security program and information security policies that contain managerial, technical, operational and physical security control measures adequate for the protection of personal information, including sensitive personal information </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">  When you register with us, your account is protected by means of a unique password, which is known to or may be accessed only by you. You are responsible for maintaining the secrecy of your unique password and Gamezy Account information, and for controlling access to emails between you and us, at all times. Therefore, you should not provide your password to anyone whosoever: breach hereof constitutes a violation of this Privacy Policy and may result in termination of your Gamezy Account in certain cases. If you become aware of or reasonably suspect any breach of security, including compromise of your password, you must notify us immediately.
            </p>

            <p class="fs-18 bold  mb-1 opacity-8 mb-3">Information relating to children
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3"> The Platform is not intended or directed at anyone under the age of 18, and we do not knowingly collect or solicit any information from, or allow the registration on the Platform of, anyone under the age of 18. Upon learning that we have collected personal information from a user under the age of 18, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under age 18, please contact our Grievance Officer in the manner provided in Clause 10 below.
            </p>

            <p class="fs-18 bold  mb-1 opacity-8 mb-3">Third party platforms and services
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3"> The Platform may contain links to third-party websites or services (“External Resource”). Your browsing on and interaction with any External Resource, irrespective of whether the link to such External Resource originated on our Platform, is subject to the terms and privacy policies of such External Resource. We are not responsible for the functionality, privacy, or security measures of any other entity and this Privacy Policy will not govern your use and access of such website or service you are redirected to.
            </p>

            <p class="fs-18 bold  mb-1 opacity-8 mb-3">How to contact us
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">If you have any thoughts or questions about this Privacy Policy or the Platform, or any concerns or grievances about the processing of your personal information by us, please contact our Grievance Officer at:
                Name: …………………………..
                Email address: ………………………………
                1st and 2nd Floor, 26/1 Hosur Road,
            </p>

            <p class="fs-18 bold  mb-1 opacity-8 mb-3">Changes to this Privacy Policy
            </p>

            <p class="fs-14 mb-1 opacity-8 mb-3">Mega Ludo may modify or update this Privacy Policy from time to time, and we will notify you, via email or in-app/website notifications of any such changes. However, you are advised to review this Privacy Policy periodically, as your continued use of our Services after any modification to this Privacy Policy will constitute your acceptance of such modification.
            </p>

        </div>
    </div>
</div>