.game-outer{height:14rem;width: 14rem;}
.blink{
    animation: blink 1s infinite
}
@keyframes blink{
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} 
.icon-size{width: 30px;height: 30px;min-height: 30px;min-width: 30px; background-color: #000;padding: 6px;border-radius: 100%;}

@media (max-width:560px){
    .game-outer{height:10rem;width: 10rem ;}
}