<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <!-- <div class="icon-size d-flex align-items-center bg-primary rounded-circle me-2">
                        <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trophy-variant</title><path d="M17 4V2H7V4H2V11C2 12.1 2.9 13 4 13H7.1C7.5 14.96 9.04 16.5 11 16.9V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V16.9C14.96 16.5 16.5 14.96 16.9 13H20C21.1 13 22 12.1 22 11V4H17M4 11V6H7V11L4 11M20 11L17 11V6H20L20 11Z" fill="#fff" /></svg>
                    </div> -->
                    <p class="fs-20 semibold mb-0">Responsible Gaming</p>
                </span>
            </div>
        </div>
        <div class="col-12 fs-14 px-4">
     
            <p class="fs-18 mb-1 bold opacity-8 mb-2">Our Mission Statement</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">Play Games 24x7 encourages all its players to play responsibly. We are committed to helping players who wish to stop playing or who wish to limit the amount that they play.</p>

            <p class="fs-18 mb-1 bold opacity-8 mb-2">Ensure Responsible Play</p>
                <ul>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Players must be 18 years of age to play skill games for real money.
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Players can request for their accounts to be temporarily blocked, if they want to self-exclude themselves for some time.
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Players can follow our ‘Guide to Responsible Play’ in order to keep a check on their play behaviour.
                    </li>
                </ul>
                <p class="fs-16 mb-1 bold opacity-8 mb-2">Following are some of the best practices to help you play responsibly:</p>
                <ul>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Play in moderation and only for entertainment.
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Do not play to make money or escape problems.
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Never chase your losses while playing.
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Set aside an entertainment budget.
                        
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Keep track of the time and monitor the amount of money you spend.
                        
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Use the Add Cash limit option to help control the amount you spend.
                    </li>
                    <li  class="fs-14 mb-1 opacity-8 mb-3">
                        Balance the time you spend on playing online games with other leisure activities.
                    </li>
                </ul>

            <p class="fs-18 mb-1 bold opacity-8 mb-2">Recognize whether you are not playing responsibly</p>
            <p class="fs-16 mb-1 bold opacity-8 mb-2">Do you do any of the following:</p>
            <ul>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you spend more money and time than you intend to playing games?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you feel guilty or ashamed while game playing habits?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you try to win back your losses?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you miss important things in life such as family time, work, leisure activities, appointments to play games?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you think about your gameplay all day long?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you have arguments with friends or family about you playing habits?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you lie or steal to get money to play games?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you have debts or struggled financially to play games?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Has playing games negatively impacted your professional life?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Do you have relationship problems like arguments, disagreements or loss of Connection with friends and family?
                </li>
                <li class="fs-14 mb-1 opacity-8 mb-3">
                    Have you experienced an increase in stress, depression or panic attacks due to playing games?z
                </li>
            </ul>

            <p class="fs-18 mb-1 bold opacity-8 mb-2">Game Prudence</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">Game Prudence is an independent body which aims to help players, playing on skill-gaming websites, in incorporating responsible gaming habits into their lifestyles. Game Prudence is a non-judgemental platform providing you with private, confidential and free of cost psychological counselling, wherein you can identify how healthy your gaming habits are as well as receive professional guidance from experts. All Game Prudence experts are certified by iGaming Academy.</p>

            <p class="fs-18 mb-1 bold opacity-8 mb-2">Get Help from Game Prudence</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">If you suspect that you are facing any of the issues mentioned above and as a result have not been playing responsibly, or if you know someone who is facing similar issues, kindly seek help immediately. You can get help by registering your request at Game Prudence.</p>
        </div>
    </div>
</div>