<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <!-- <div class="icon-size d-flex align-items-center bg-primary rounded-circle me-2">
                        <svg height="24px" width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trophy-variant</title><path d="M17 4V2H7V4H2V11C2 12.1 2.9 13 4 13H7.1C7.5 14.96 9.04 16.5 11 16.9V19.08C8 19.54 8 22 8 22H16C16 22 16 19.54 13 19.08V16.9C14.96 16.5 16.5 14.96 16.9 13H20C21.1 13 22 12.1 22 11V4H17M4 11V6H7V11L4 11M20 11L17 11V6H20L20 11Z" fill="#fff" /></svg>
                    </div> -->
                    <p class="fs-20 semibold mb-0">Refund Policy</p>
                </span>
            </div>
        </div>
        <div class="col-12 fs-14 px-4">
     
            <p class="fs-18 mb-1 bold opacity-8 mb-3">Refund Policy</p>
            <p class="fs-14 mb-1 opacity-8 mb-4">Thanks for being a patron with ApnaLudo. If you are not entirely satisfied with your subscription, we are here to help</p>
       

            <p class="fs-18 mb-1 bold opacity-8 mb-3">Refund</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">Once we receive your Refund request, we will inspect it and notify you on the status of your refund.</p>
            <p class="fs-14 mb-1 opacity-8 mb-3">If your refund request is approved, we will initiate a refund to your credit card (or original method of payment) within 7 working days. You will receive the credit within a certain amount of days, depending on your card issuer's policies.</p>
            <p class="fs-14 mb-1 opacity-8">In case of unforeseen technical glitch, ApnaLudo would refund subscription upon reviewing the complaint. Final decision lies with the company.</p>
        </div>
    </div>
</div>